# 本地端開發時存取 layer 需要使用的 token 請把 your_github_token 改成自己的 token，佈署時不需要
GIGET_AUTH=your_github_token

# 建置環境名稱，可選值: dev, staging, uat, production
NUXT_PUBLIC_DEPLOY_ENV=staging

NUXT_PUBLIC_I18N_BASE_URL=https://test-language-api.jlfafafa3.com

NUXT_PUBLIC_API_BASE_URL=https://test-api.jlfafafa3.com